<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Knowvex</title>
</head>

<body>
<div style="margin: 1rem auto;">
    <div style="text-align: center; margin-bottom: 1rem;">
        <img th:src="${logo}" alt="Knowvex Logo" />
    </div>
    <h2>Hi <span th:text="${name}" style="text-transform: capitalize;"></span>,</h2>
    <p style="font-weight:100">Welcome to Knowvex! We are thrilled to have you join our community of creators. Our mission is to empower creators like you to bring their creative vision to life.
    </p>
    <p>We are committed to providing our users with the best possible experience on our platform. Our customer support team is available to assist you with any issues that you may encounter, and we encourage you to reach out to us if you need assistance.</p>
    <p>Thank you for choosing Knowvex. We look forward to seeing the amazing content that you will create.</p>
    <p>Best Regards,<br/><span style="color: #8606f9;">Knowvex team.</span></p>
    <div style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; padding: 0.5rem 0; margin-top: 1rem; text-align: center;">
        <a href="https://facebook.com" style="display: inline-block;">
            <img th:src="${facebook}" style="width: 1.25rem;">
        </a>
        <a href="https://instagram.com" style="margin-left: 0.5rem;">
            <img th:src="${instagram}" style="width: 1.25rem;">
        </a>
    </div>
    <p style="text-align: center; font-size: 0.85rem;">© 2024 Knowvex. All rights reserved.</p>
</div>
</body>

</html>